/* Global Styles */
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

h3 {
  margin: 50px 0;
}

.main-header {
  margin-left: 10px;
}

.go-back {
  margin: 30px 0 0 10px;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  margin-bottom: 30px;
  overflow: hidden;
  padding: 0 2rem;
  transition: all .3s;
}

.content-box {
  margin: 20px 0 0 -10px;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Buttons */
.btn {
  margin-right: 0.5rem;
}

/* Landing Page */
.landing {
  position: relative;
  background: url('./img/landing.jpg') no-repeat;
  background-size: cover;
  height: 100vh;
  top: 0;
  left: 0;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Alert */
.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: .9;
  background: var(--light-color);
  color: #333;
  border-radius: 3px;
  animation: fadeInDown 1s;
  text-align: center;
}

.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.alert-success {
  background: var(--success-color);
  color: #fff;
}

.moveDown {
  animation: moveDown 1s;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #3f51b5 !important;
  box-shadow: 0 1px 0 0 #3f51b5 !important;
}

.date-info {
  padding-left: 30px;
}

.collection-item {
  transition: all .3s ease-out;
}

.collection-item:hover {
  background: #F3F3F3 !important;
}

@keyframes fadeInDown {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: .9;
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(1rem);
  }
}

@media (max-width: 600px) {
  .container {
    padding: 0;
  }

  nav ul a {
    padding: 0 10px !important;
  }

  .btn-floating {
    display: none !important;
  }

  h4 {
    font-size: 15px;
  }

  .collection.with-header .collection-item {
    padding-left: 20px;
  }

  .row.valign-wrapper {
    margin-bottom: 0;
  }

  .row .col.s2 {
    margin-right: 40px;
  }

  .collection .collection-item {
    padding: 10px !important;
  }

  .date-info {
    padding-left: 10px;
  }

  .collection__meta-header {
    font-size: 22px;
  }
}